<div id="<%= dom_id genre %>">
  
  <div class="album py-5 bg-body-tertiary">
    <div class="container">
    <p>
      <strong>Name:</strong>
      <%= genre.name %>
    </p>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <% genre.books.each do |book| %>
          <%= render book %>
        <% end %>
      </div>
    </div>
  </div>

</div>
