<p style="color: green"><%= notice %></p>
<div class="album py-5 bg-body-tertiary">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <% @books.each do |book| %>
        <%= render book %>
      <% end %>
    </div>
  </div>
</div>