<div id="<%= dom_id author %>">
  <div class="album py-5 bg-body-tertiary">
    <div class="container">
    <h1>All books by <%= author.name %></h1>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <% author.books.each do |book| %>
          <%= render book %>
        <% end %>
      </div>
    </div>
  </div>
</div>
