<div id="<%= dom_id book %>">
  <div class="col">
    <div class="card shadow-sm">
      <img src='<%= book.img_url %>' class="img-thumbnail" >
      <div class="card-body">
        <p class="card-text">
          <strong>Назва:</strong>
          <%= book.title %>
        </p>
        <p>
          <strong>Автор:</strong>
          <%= link_to book.author.name, book.author %>
        </p>
        <p>
          <strong>Жанр:</strong>
          <%= book.genre.name %>
        </p>
        
        <small class="text-body-secondary">
            <p>
              <strong>Ціна:</strong>
              <%= book.price %>
            </p>
        </small>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to "Детальніше", book %></button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Купити</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>