<%= form_with(model: book) do |form| %>
  <% if book.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :genre, style: "display: block" %>
    <%= form.collection_select :genre_id, Genre.all, :id, :name, prompt: true %>
  </div>

  <div>
    <%= form.label :img_url, style: "display: block" %>
    <%= form.url_field :img_url %>
  </div>

  <div>
    <%= form.label :author_id, style: "display: block" %>
    <%= form.collection_select :author_id, Author.all, :id, :name, prompt: true %>
  </div>

  <div>
    <%= form.label :price, style: "display: block" %>
    <%= form.text_field :price %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
