<div class="album py-5 bg-body-tertiary">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <%= render "form", book: @book %>
      <br>
      <div>
        <%= link_to "Back to books", books_path %>
      </div>
    </div>
  </div>
</div>