<p style="color: green"><%= notice %></p>

<div class="album py-5 bg-body-tertiary">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2">
      <div id="<%= dom_id @book %>">
        <div class="col">
          <div class="card shadow-sm">
            <img src='<%= @book.img_url %>' class="img-thumbnail" >
            <div class="card-body">
              <p class="card-text">
                <strong>Назва:</strong>
                <%= @book.title %>
              </p>
              <p>
                <strong>Автор:</strong>
                <%= @book.author.name%>
              </p>
              <p>
                <strong>Жанр:</strong>
                <%= @book.genre.name %>
              </p>
              <p>
                <strong>Опис:</strong>
                <%= @book.description %>
              </p>
              <small class="text-body-secondary">
                  <p>
                    <strong>Ціна:</strong>
                    <%= @book.price %>
                  </p>
              </small>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Купити</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div>
  <%= link_to "Edit this book", edit_book_path(@book) %> |
  <%= link_to "Back to books", books_path %>

  <%= button_to "Destroy this book", @book, method: :delete %>
</div>
