<header class="p-3 mb-3 border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><%= link_to "New book", new_book_path, class: 'nav-link px-2 link-secondary' %></li>
        <li><%= link_to "All books", books_path, class: 'nav-link px-2 link-secondary' %></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Genres</a>
          <ul class="dropdown-menu">
            <% @genres.each do |genre|%>
              <li><%= link_to genre.name, books_path(genre: genre), class: "dropdown-item" %></li>
            <% end %>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Authors</a>
          <ul class="dropdown-menu">
            <% @authors.each do |author|%>
              <li><%= link_to author.name, books_path(author: author), class: "dropdown-item" %></li>
            <% end %>
          </ul>
        </li>
      </ul>

      <div class="form-outline">
        <%= form_with url: search_path, method: :get, class: "col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3", role: "search" do |form| %>
          <%= form.text_field :query, class: "form-control", placeholder: "Search..." %>
        <% end %>
      </div>

      <div class="dropdown text-end">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small">
          <li><a class="dropdown-item" href="#">New project...</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
